# Comment each AT with where it needed to be used

# CarminiteGhastguard
public net.minecraft.world.entity.monster.Ghast$GhastLookGoal

# CinderFurnaceBlockEntity
protected net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity *

# TFSkyRenderer
public net.minecraft.client.renderer.LevelRenderer f_109472_ # skyBuffer
public net.minecraft.client.renderer.LevelRenderer f_109473_ # darkBuffer

# TFStructureComponent
protected net.minecraft.world.level.levelgen.structure.StructurePiece f_73379_ # rotation
protected net.minecraft.world.level.levelgen.structure.StructurePiece f_73378_ # mirror
protected net.minecraft.world.level.levelgen.structure.StructurePiece f_73377_ # orientation

# PlayerHelper
public net.minecraft.client.multiplayer.ClientAdvancements f_104390_ # advancementToProgress

# TFEventListener
public net.minecraft.world.entity.LivingEntity m_21275_(Lnet/minecraft/world/damagesource/DamageSource;)Z # isDamageSourceBlocked

# Bighorn
protected net.minecraft.world.entity.animal.Sheep m_29823_(Lnet/minecraft/world/entity/animal/Animal;Lnet/minecraft/world/entity/animal/Animal;)Lnet/minecraft/world/item/DyeColor; # getOffspringColor

# Entity Sizes because argh otherwise how does hydra work
public net.minecraft.world.entity.Entity f_19815_ # dimensions

# LowerGoblinKnight and UpperGoblinKnight
public net.minecraft.world.entity.LivingEntity m_21278_(Lnet/minecraft/world/item/ItemStack;)V # breakItem

# Knight Phantom and Minotaur/Minoshroom
public net.minecraft.world.entity.Mob m_21424_(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V # maybeDisableShield

# MinoshroomModel
public net.minecraft.client.model.HumanoidModel m_102875_(Lnet/minecraft/world/entity/LivingEntity;)V # poseRightArm
public net.minecraft.client.model.HumanoidModel m_102878_(Lnet/minecraft/world/entity/LivingEntity;)V # poseLeftArm

# TFClientEvents
public net.minecraft.client.gui.Gui f_92980_ # vignetteBrightness

# ProtectionParticle
public net.minecraft.client.particle.SuspendedTownParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDDDD)V #constructor

# GroundAttackGoal and NoClipMoveHelper
public net.minecraft.world.entity.ai.control.MoveControl f_24981_ # operation
public net.minecraft.world.entity.ai.control.MoveControl$Operation # MoveControl.Operation

# GoalSelector.goals so we can remove goals
public net.minecraft.world.entity.ai.goal.GoalSelector f_25345_ # availableGoals

# No API yet for Trunk Placers yet
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacerType <init>(Lcom/mojang/serialization/Codec;)V # ctor

# Used in Trunk Mover Upper
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer f_70263_ # baseHeight
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer f_70264_ # heightRandA
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacer f_70265_ # heightRandB

# Used in BlockTagGenerator
public net.minecraft.world.level.block.state.BlockBehaviour f_60442_ # material

# Used in Parrot
public net.minecraft.world.entity.animal.Parrot f_29358_ # MOB_SOUND_MAP

# Used in TFBlocks to allow composting
public net.minecraft.world.level.block.ComposterBlock m_51920_(FLnet/minecraft/world/level/ItemLike;)V # add

# Used in TFBlocks to allow blocks to set fire
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable

# Used in TwilightForestMod to allow block stripping
public-f net.minecraft.world.item.AxeItem f_150683_ # STRIPPABLES

# Used in ChunkGeneratorTFBase
public-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator

# Used in TFEventListener
public-f net.minecraft.world.entity.player.Inventory f_35978_ # player

# used in TFMaze
public net.minecraft.world.level.levelgen.structure.StructurePiece$BlockSelector

# used in RedcapModel
public net.minecraft.client.model.HumanoidModel m_102856_(Lnet/minecraft/world/entity/LivingEntity;)Lnet/minecraft/world/entity/HumanoidArm; # getAttackArm

# MazeMapItem
public net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77894_ # decorations

# TFMazeMapData
public net.minecraft.world.level.saveddata.maps.MapItemSavedData <init>(IIBZZZLnet/minecraft/resources/ResourceKey;)V # ctor
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77885_ # x
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77886_ # z
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77897_ # bannerMarkers
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_77898_ # frameMarkers
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_181308_ # trackedDecorationCount

# TreePlacer
public net.minecraft.world.level.levelgen.feature.TreeFeature m_225251_(Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/world/level/levelgen/structure/BoundingBox;Ljava/util/Set;Ljava/util/Set;Ljava/util/Set;)Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape; # updateLeaves

# Heightmap
public net.minecraft.world.level.levelgen.Heightmap m_64245_(III)V # setHeight

# NoiseBasedChunkGenerator
public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator f_64316_ # defaultBlock

# Spawner
public net.minecraft.world.level.BaseSpawner f_45451_ # maxNearbyEntities
public net.minecraft.world.level.BaseSpawner f_45449_ # spawnCount
public net.minecraft.world.level.BaseSpawner f_45453_ # spawnRange

# TFCavesCarver
public net.minecraft.world.level.levelgen.carver.CaveCarverConfiguration f_159157_ #floorLevel
public net.minecraft.world.level.levelgen.carver.WorldCarver m_159423_(Lnet/minecraft/world/level/levelgen/carver/CarverConfiguration;)Z # isDebugEnabled
public net.minecraft.world.level.levelgen.carver.WorldCarver m_159418_(Lnet/minecraft/world/level/levelgen/carver/CarvingContext;Lnet/minecraft/world/level/levelgen/carver/CarverConfiguration;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/levelgen/Aquifer;)Lnet/minecraft/world/level/block/state/BlockState; # getCarveState

# Used in TargetedRotProcessor
protected net.minecraft.world.level.levelgen.structure.templatesystem.BlockRotProcessor f_74075_ # integrity

# Used in ChestRenderer
public net.minecraft.client.resources.model.ModelBakery f_119234_ # UNREFERENCED_TEXTURES

# Used in SpecialFlowerPotBlock
public net.minecraft.world.level.block.FlowerPotBlock m_153267_()Z # isEmpty

# Used in TFBlendedNoise, derivative of above
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_164290_ #mainNoise
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_164289_ #maxLimitNoise
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_164288_ #minLimitNoise
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_192799_ # xzScale
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_192800_ # yScale
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_230458_ # xzFactor
public net.minecraft.world.level.levelgen.synth.BlendedNoise f_230459_ # yFactor

# Used in WorldUtil
public net.minecraft.server.level.ChunkMap m_183719_()Lnet/minecraft/world/level/chunk/ChunkGenerator; # generator

# Used in TFStructureStart
public-f net.minecraft.world.level.levelgen.structure.StructureStart

# Used for leaf and grass colors
public net.minecraft.world.level.biome.Biome f_47435_ # TEMPERATURE_NOISE

# Used in LegacyStructureFeature
public net.minecraft.world.level.levelgen.structure.pieces.StructurePiecesBuilder f_192778_ # pieces

# Used in TowerWingComponent
public net.minecraft.world.entity.decoration.Painting m_218891_(Lnet/minecraft/core/Holder;)V # setVariant

public net.minecraft.world.level.levelgen.feature.treedecorators.TreeDecorator$Context f_226046_ # decorationSetter
public net.minecraft.world.level.chunk.ChunkGenerator m_223138_(Lnet/minecraft/core/Holder;Lnet/minecraft/world/level/levelgen/RandomState;)Ljava/util/List; # getPlacementsForStructure

public net.minecraft.world.level.block.DispenserBlock f_52661_ # DISPENSER_REGISTRY

public net.minecraft.client.gui.Gui m_93024_(Lnet/minecraft/world/phys/HitResult;)Z # canRenderCrosshairForSpectator

# Used in TFMazeMapData (we need to unfinalize x and z so we can snap the map to the labyrinth)
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_256718_ # centerX
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData f_256789_ # centerZ

public net.minecraft.world.level.chunk.ChunkGenerator m_223104_(Lnet/minecraft/world/level/levelgen/structure/StructureSet$StructureSelectionEntry;Lnet/minecraft/world/level/StructureManager;Lnet/minecraft/core/RegistryAccess;Lnet/minecraft/world/level/levelgen/RandomState;Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureTemplateManager;JLnet/minecraft/world/level/chunk/ChunkAccess;Lnet/minecraft/world/level/ChunkPos;Lnet/minecraft/core/SectionPos;)Z # tryGenerateStructure

public net.minecraft.server.level.ServerLevel m_143288_(Lnet/minecraft/core/BlockPos;)Lnet/minecraft/core/BlockPos; # findLightningTargetAround

public net.minecraft.world.effect.MobEffectInstance f_19504_ # amplifier

public net.minecraft.world.level.storage.loot.LootTable m_230924_(Lit/unimi/dsi/fastutil/objects/ObjectArrayList;ILnet/minecraft/util/RandomSource;)V # shuffleAndSplitItems

public net.minecraft.client.renderer.LevelRenderer f_109450_ # rainSoundTime
public net.minecraft.world.level.block.entity.SignBlockEntity f_276598_ # frontText

public net.minecraft.world.level.biome.BiomeManager f_47863_ # biomeZoomSeed

public net.minecraft.data.models.ItemModelGenerators f_265952_ # GENERATED_TRIM_MODELS
public net.minecraft.data.models.ItemModelGenerators$TrimModelData
